@import "tailwindcss";

.card-certificates {
    @apply flex flex-col max-w-full max-h-full md:max-w-xl xl:max-w-5xl overflow-y-hidden bg-slate-100;
}

@scope (.card-certificates) {
    img {
         user-drag: none;
        -webkit-user-drag: none; /* For Webkit browsers like Chrome, Safari */
        -moz-user-drag: none;
        user-select: none; /* Standard syntax */
        -webkit-user-select: none; /* Chrome, Safari, Opera */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        -webkit-touch-callout: none; /* Safari touch devices */
    }
    .nav-container {
        @apply flex sticky top-0 p-5 bg-slate-500 items-center text-slate-100;
    }
    .content-container {
        @apply relative flex flex-row max-h-full overflow-y-auto flex-wrap gap-0;
    }
    @scope (.nav-container) {
        header { @apply text-center grow; }
        h2 { @apply font-bold; }
    }
    @scope (.content-container) {
        /* New */
        .card-row-container {
            @apply flex flex-col gap-0 border border-slate-200 rounded-lg w-[50%] gap-3 h-max p-5 items-center justify-center scale-90 hover:bg-slate-500 hover:text-slate-100 hover:scale-100 transition-all;
            
        }
        @scope(.card-row-container){
            .card-row-img {
                @apply w-20 h-20;
                object-fit: contain;
            }
            .card-row-img.crop { clip-path: inset(0% 0% 30% 0%); }
            h2,h5 { @apply font-bold text-center; }
            h2 { @apply text-2xl; }
        }
        /* Old */
        .slide-container {
            @apply flex min-h-max min-w-full flex-col overflow-x-hidden;
        }
        @scope(.slide-container){
            header {
                @apply flex gap-3 w-full p-5 text-center bg-slate-200 text-slate-700 items-center justify-center;
            }
            h2 { @apply font-bold text-sm sm:text-lg; }
            .slide-content { @apply relative flex min-w-full grow; }
            .slide-content.dts { animation: Ltr_dts 15s ease-in-out infinite; }
            .slide-content.idn { animation: Ltr_idn 15s ease-in-out infinite; }
            @scope (header) {
                img { @apply max-w-[20px] sm:max-w-[30px]; }
            }
            @scope (.slide-content){
                a { @apply min-w-full relative scale-90 hover:scale-95 transition-all duration-150 ease-in-out; }
            }
        }
    }

    @keyframes Ltr_dts {
        from { left:0; }
        to { left: -200%; }
    }
    
    @keyframes Ltr_idn {
        from { left:0; }
        to { left: -200%; }
    }

}